#main{
    margin-left: 300px;
    
    background-color:rgb(214, 200, 200)smoke;
    height: 400px;
    width:400px;
    border-color: black;
    display: flex;

}
#button{
    width:400px;
    background-color:rgb(76, 76, 216);

}
#views{
    width:370px;
    color:rgb(135, 211, 241);
}
#img{
    margin-left: 100px;
}
#votes{
    margin-top: 105px;
}
#i1,#i2{
    font-size:48px;color:black
}
#details{
    margin-left: 10px;
}
#votes{
    text-align: center  ;
}